@{
  Layout = "_Layout";
}

<h3>Add an artist!</h3>
<form action="/artists" method="post">
  <label for="artistName"></label>
  <input id="artistName" name="artistName" placeholder="Artist Name" type="text">
  <button type="submit">Add!</button>
</form>