@{
  Layout = "_Layout";
}

@using MusicOrganizer.Models;

<h3>List of this Artist's records!</h3>

@if (@Model["records"].Count == 0)
    {
      <h3>No records have been added yet!</h3>
    } 

<ol>
  @foreach (Record record in @Model["records"])
  {
    <li>@record.RecordName</li>
  } 
</ol>


<p><a href='/artists/@Model["artist"].Id/records/new'>Add a new record!</a></p>
<p><a href='/artists'>Return to artist list!</a></p>
<p><a href='/'>Return to Home Page!</a></p>
